/* 확대했을때 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 350부터 헤더 튀어나감 발생 */

li{
    list-style: none;
}

header{

    /* position: absolute; */
   
    width: 100%;
    /* padding: 1rem; */
    /* background-color: brown; */
}


.index-main{
    width: 100%;
    height: 180vh;
    color: black;
    /* color: white; */
    /* background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)).url('images/me.jpg') center center; */
    background-size: cover;

    display: block;
    
    background-color:beige;
}

.index-main .container .hotfunding{
    margin-top: 30%;
    color: red;
}



footer{
    height: 10vh;
    /* background-color: coral; */
}
