/* 전체 배경 */
.item-all-container {
  background-color: #f8f9fa;
  font-family: 'Arial', sans-serif;
}

/* 메인 컨테이너 */
.item-main {
  margin-top: 20px;
  background-color: #ffffff;
  padding: 40px 0;
  min-height: 100vh;
}

/* 제품 이미지 영역 */
.item-main .item-custom-row img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
}

/* 제품 정보 영역 */
.item-main .item-custom-row {
  margin-bottom: 60px;
}

/* 금액 및 퍼센트 표시 */
.gain-money {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.gain-money span {
  font-size: 1.2rem;
  font-weight: bold;
  color: #444;
}

/* 퍼센트 색상 강조 */
.gain-money span:last-child {
  color: #dc3545; /* 부트스트랩 빨강 */
}

/* 제품 상세 정보 테이블 */
.item-main table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  font-size: 15px;
  color: #555;
}

.item-main table td {
  padding: 10px 0;
  text-align: left;
  border-bottom: 1px solid #eee;
}

/* 좋아요 + 결제 버튼 */
.like-pay {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.like-pay-community{
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items:  center;
    flex-wrap:  nowrap;
    gap: 10px;
}
.like-pay-community .go_community{
    white-space:  nowrap;
    flex-shrink: 0;
}

.like-pay button {
  border: none;
  /* font-size: 1.5rem; */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.like-pay button:hover {
  transform: scale(1.1);
}

/* 제품 소개 영역 */
.item-intro {
  width: 100%;
  background-color: #fffa80;
  padding: 40px;
  margin-top: 60px;
  border-radius: 10px;
  text-align: center;
  overflow: auto;
}

.item-intro h3 {
  margin-bottom: 20px;
  color: #333;
}

.item-intro h4 {
  margin: 10px 0;
  color: #555;
}

.item-intro img,
.item-intro video {
  width: 60%;
  max-width: 100%;
  height: auto;
  /* max-height: 400px; */
  object-fit: cover;
  margin: 20px 0;
  border-radius: 8px;
  image-rendering: auto;
}

/* 푸터 */
footer {
  background-color: #ffffff;
  text-align: left;
  color: #888;
}
footer a{
    text-decoration: none;
    color: #888;
}

.itemProductName{
    overflow: hidden;
    text-overflow: ellipsis;
}