.item-main{
    overflow: hidden;
    height: 200vh;
    background-color: beige;
}
.item-main .container .custom-row img{
    width: 100%;
    object-fit: cover;
}
.item-main .container .custom-row .gain-money{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.item-main .container .custom-row .gain-money span{
    font-size: 1.2rem;
}
.item-main .container .custom-row table {
    border-collapse: collapse;
    width: 100%;
}

.item-main .container .custom-row table td {
    /* border: 1px solid black; */
    padding: 8px;
    text-align: left;
}

.item-main .container .custom-row .like-pay{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.item-main .container .item-intro{
    width: 80%;
    height: 100vh;
    background-color: pink;
    text-align: center;
}
.item-main .container .item-intro img,video{
    width: 50%;
    height: 40%;
    object-fit: cover;
}